<section class="book">
  <h2>Delete Book</h2>
  <form method="POST" action="/books/{{book.id}}?_method=DELETE">
    <input class="delete" type="submit" value="Delete {{book.book_name}}?">
  </form>
</section>
