<section class="add">
  <form action="/books/new" method="POST">
    <label for="book_name">Book Name</label>
    <input id="book_name" type="text" name="book_name">
    <label for="book_genre">Book Genre</label>
    <select id="book_genre" name="genre_id">
      {{#each genre}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <label for="book_description">Book Description</label>
    <textarea id="book_description" rows="5" name="book_description">
      Enter Description Here
    </textarea>
    <label for="coer_url">Cover Image URL</label>
    <input id="cover_url" type="url" name="cover_url">
    <button type="submit">Submit</button>
  </form>
