<div class="mainPage">
  <section class="nav">
    <img class="titleImage" src="http://nofilmschool.com/sites/default/files/uploads/2013/10/writers-block.jpg">
    <a href="/authors">
      <p>Authors Page</p>
    </a>
  </section>
  <section class="nav">
    <img class="titleImage" src="http://tekraglobalconcepts.com/contracts/wp-content/uploads/2014/11/library.jpg">
    <a href="/books">
      <p>Books Page</p>
    </a>
  </section>
</div>
