<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img class="logo" src="https://s-media-cache-ak0.pinimg.com/736x/26/63/e5/2663e5cd08194d30314a3f0b7a6c32e0.jpg">
      <h1>Galvanize Reads</h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
