<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img class="logo" src="https://s-media-cache-ak0.pinimg.com/736x/26/63/e5/2663e5cd08194d30314a3f0b7a6c32e0.jpg">
      <h1>Galvanize Reads</h1>
      <nav>
        <ul>
          <a href="/authors"><li>Authors</li></a>
          <a href="/books"><li>Books</li></a>
          <a href="/"><li>Home</li></a>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
