<ul>
  {{#each books}}
  <div>
    <p>{{this.book_name}}</p>
    <p>{{this.book_genre}}</p>
    <p>{{this.book_description}}</p>
    <img class="cover" src="{{this.cover_url}}">
  </div>
  {{/each}}
</ul>
