header {
  display: flex;
  justify-content: flex-start;
  background-color: $light-grey;
  h1 {
    color: $white;
  }
}

.logo {
  height: 10vh;
  width: 5vw;
}

nav {
  display: flex;
  justify-content: center;
  width: 25%;
  margin-left: 50%;
  margin-top: 1rem;
  li {
    display: inline;
  }
  a {
    color: $galvanize-primary;
    margin-left: 1rem;
  }
}
