.book {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 100%;
  }
  textarea {
    resize: none;
  }
}

input, label {
  display: block;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

select {
  width: 100%;
}
 a{
   text-decoration: none;
 }
 
 .author {
   @extend .book;
 }
