<section class="author">
  <form action="/authors/new" method="POST">
    <label for="first_name">Author First Name</label>
    <input id="first_name" type="text" name="first_name">
    <label for="last_name">Author Last Name</label>
    <input id="last_name" type="text" name="last_name">
    <label for="biography">Author Description</label>
    <textarea id="biography" rows="5" name="biography">
      Enter Biography Here
    </textarea>
    <select id="book" name="book_id">
      {{#each book}}
        <option value="{{this.id}}">{{this.book_name}}</option>
      {{/each}}
    </select>
    <label for="portrait_url">Portrait Image URL</label>
    <input id="portrait_url" type="url" name="portrait_url">
    <button type="submit">Submit</button>
  </form>
</section>
