<section class="author">
  <div>
    <p>{{author.first_name}}</p>
    <p>{{author.last_name}}</p>
    <p>{{author.biography}}</p>
    <img class="mainImage" src="{{author.portrait_url}}">
  </div>
</section>
